<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artists</title>
        <link rel="stylesheet" href="/styles/css/styles.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-..." crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link href='https://fonts.googleapis.com/css?family=Poppins'
            rel='stylesheet'>

    </head>

    <body>
        <header class="header">

            <img src="styles/img/soufian_icon.png" alt class="logoSA">

            <nav class="navbar">
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#artists">artists</a>
                <a href="#contact">contcat</a>

            </nav>
            <div class="icons">
                <div class="fas fa-search" id="search-btn"></div>
            </div>

            <div class="search-artists">
            <form action="/search" method="GET"></form>
                <input type="search" id="search-box" placeholder="Search...">
            </form>
        </div>
    </header>
    <section class="home" id="home">
        <img src="https://i.ibb.co/Hdt5MKg/back1.png" alt="s" id="imag"
            class="background-image">

        <h3 id="text">GROUPIE TRACKER</h3>

    </section>

    <section class="about" id="about">
        <div class="container">
            <h2>About <span style="color: #d39c51;">Groupie
                    Trackers</span></h2>
            <p>Groupie Trackers is a web application that utilizes a
                designated API to gather and manipulate data
                related to bands and artists. The application focuses on
                presenting this information in an accessible
                manner through various data visualization techniques.</p>
            <h2>Website Features</h2>
            <p>The primary objective of Groupie Trackers is to create a
                user-friendly interface that visualizes band
                information using diverse methods such as blocks, cards,
                tables, lists, and graphical representations.
                These features aim to enhance usability and engagement.</p>
            <div>
            </section>

            <form action="/" method="post">
                <section class="artists" id="artists">

                    <div class="cards">
                        <h2 class="titleart">Artists</h2>
                        {{range .}}
                        <div class="card">
                            <a href="/Artist/{{.Id}}" class="card-link">
                                <div class="blob"></div>
                                <img class="img" src="{{.Image}}">
                                <h2 class="names">{{.Name}}</h2>
                            </a>
                        </div>
                        {{end}}
                    </div>
                    <div id="load-more">Load more &gt;</div>
                    <div id="Load-less">Load less &lt;</div>

                </section>
                <section class="contact" id="contact">

                    <nav class="navbar">
                        <a href="#home">home</a>
                        <a href="#about">about</a>
                        <a href="#artists">artists</a>
                    </nav>
                    <h2 style="color: #d39c51;">contact</h2>
                    <h2>soufian2022ff@gmail.com</h2>
                    <div class="iconsContact">
                        <a href="https://github.com/saljaoui">
                            <i class="fab fa-github"></i>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/soufian-aljaoui-2004saljaoui/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/soufian.alj">
                            <i class="fab fa-instagram"></i>
                        </a>
                            </a>
                        
                    </div>
                    <div class="iconsContact" >
                        <h2>rharbuomar@gmail.com</h2>
                    </div>
                    <div class="iconsContact">
                        <a href="https://github.com/omrharbi/">
                            <i class="fab fa-github"></i>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/omar-rharbi-899679168/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/omar_rharbi/?next=%2F">
                            <i class="fab fa-instagram"></i>
                            </div>

                </section>
            </form>
            <script src="/styles/js/script.js"></script>
        </body>

    </html>